:root {
  --color-red: #d9534f;
  --color-green: #5cb85c;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  margin: 0;
}

#red-text {
  color: var(--color-red);
}

#green-text {
  color: var(--color-green);
}

input {
  margin: 10px;
  text-align: center;
  font-size: 3em;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 20px;
  font-family: monospace;
}

#password {
  background-color: black;
}

#password:focus {
  background-color: white;
}

@media only screen and (max-width: 425px) {
  input {
    max-width: 80%;
  }
}
